* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
main {
  padding: 100px 32px;
}
button {
  cursor: pointer;
  border: none;
  color: #e2e2e2;
  background-color: #7897ab;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px -2px #777777;
}
.alert {
  position: fixed;
  color: #e2e2e2;
  background-color: #655d8a;
  padding: 16px;
  max-width: 300px;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -5px #777777;
}
.alert::before {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  border-right: 10px solid transparent;
  border-bottom: 16px solid #655d8a;
  border-left: 10px solid transparent;
}
